<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <p class="logo-text">Patatas Subscribers ToGo</p>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div mat-list-item class="list-item-static">
          <div>
            <mat-icon>info_outline</mat-icon>
          </div>
          <div>
            <h3>Overview</h3>
          </div>
        </div>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div mat-list-item class="list-item" routerLink="/manage-subscribers">
          <div>
            <mat-icon>manage_accounts</mat-icon>
          </div>
          <div>
            <h3>Manage subscribers</h3>
          </div>
        </div>
      </mat-nav-list>
      <mat-nav-list>
        <div mat-list-item class="list-item" routerLink="/create-subscriber">
          <div>
            <mat-icon>person_add_alt_1</mat-icon>
          </div>
          <div>
            <h3>Create new subscriber</h3>
          </div>
        </div>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-nav-list>
      <div class="button-container">
        <button
          mat-raised-button
          color="warn"
          [disabled]="!isThereAToken()"
          (click)="onLogout()"
        >
          Logout
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
