<div class="flex-container">
  <div class="form-container">
    <form class="create-subscriber-form" [formGroup]="form">
      <div class="img-container">
        <img src="../../../assets/mr-potato.jpg" alt="Potato logo" />
      </div>
      <h5>Create subscriber form</h5>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Name</mat-label>
        <input
          id="NameInput"
          matInput
          placeholder="Name"
          formControlName="Name"
        />
        @if (form.get('Name')?.hasError('required')) {
        <mat-error> Name is required </mat-error>
        } @if (form.get('Name')!.getError('minlength')) {
        <mat-error> Name must be at least 3 characters long </mat-error>
        }
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          id="EmailInput"
          matInput
          placeholder="Email"
          formControlName="Email"
        />
        @if (form.get('Email')?.hasError('required')) {
        <mat-error> Email is required </mat-error>
        } @if (form.get('Email')!.getError('email')) {
        <mat-error> Email must be a valid one </mat-error>
        }
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Country Code</mat-label>
        <mat-select
          id="CountryCode"
          placeholder="Country code"
          formControlName="CountryCode"
        >
          @for (country of countries; track country) {
          <mat-option [value]="country">{{ country }}</mat-option>
          }
        </mat-select>
        @if (form.get('CountryCode')?.hasError('required')) {
        <mat-error> Country code is required </mat-error>
        }
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
          id="PhoneNumberInput"
          matInput
          placeholder="Phone number"
          formControlName="PhoneNumber"
        />
        @if (form.get('PhoneNumber')?.hasError('required')) {
        <mat-error> Phone Number is required </mat-error>
        } @if (form.get('PhoneNumber')!.getError('minlength')) {
        <mat-error> Email must be a at least 4 characters long </mat-error>
        }
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Job Title</mat-label>
        <input
          id="JobTitleInput"
          matInput
          placeholder="Job title"
          formControlName="JobTitle"
        />
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Area</mat-label>
        <input
          id="AreaInput"
          matInput
          placeholder="Area"
          formControlName="Area"
        />
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Topics</mat-label>
        <input
          id="TopicsInput"
          matInput
          placeholder="Topics"
          formControlName="Topics"
        />
      </mat-form-field>
      <div class="create-form-actions">
        <button mat-raised-button color="warn" (click)="onBack()">
          Go Back
        </button>

        <button
          class="add-subscriber-button"
          mat-raised-button
          color="accent"
          [disabled]="!form.valid"
          (click)="onAddAnotherSubscriber()"
        >
          Add Another Subscriber
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
