<div class="flex-Container">
  <div class="form-Container">
    <form class="adminForm" [formGroup]="form">
      <div class="img-container">
        <img src="../../../assets/mr-potato.jpg" alt="Potato logo" />
      </div>
      <h5>Admin login form</h5>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>User Name</mat-label>
        <input
          id="userNameInput"
          matInput
          placeholder="User Name"
          formControlName="userName"
        />
        @if (form.get('userName')?.hasError('required')) {
        <mat-error> User name is required </mat-error>
        } @if (form.get('userName')!.getError('minlength')) {
        <mat-error> User name must be at least 6 characters long </mat-error>
        }
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="passwordInput"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        @if (form.get('password')?.hasError('required')) {
        <mat-error> Password is required </mat-error>
        } @if (form.get('password')!.getError('minlength')) {
        <mat-error> Password must be at least 6 characters long </mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="onLogin()"
      >
        Login
      </button>
    </form>
  </div>
</div>
