.subscriber-card-container {
  gap: 30px;
  padding: 1%;
  display: flex;
  flex-direction: grid;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffe9cb;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.options-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    margin-bottom: 1%;
    margin-left: 2px;
    margin-right: 2px;
  }

  mat-form-field {
    margin-left: 2px;
    margin-right: 2px;
  }
}
